<<<<<<< HEAD
.login{
=======

.login {
    position: absolute;
    width:802px;
    height:446px;
    background-color:#f9f9fd;
    border-radius: 2.4rem;
    display:flex;
    position: relative;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.login__left--close {
    position: absolute;
    top: 0;
    z-index: 1;
    padding-left: 30px;
    margin-top: 10px;
    font-size:45px;
    font-weight:300;
    cursor: pointer;
}


/* Login Left */
.login__left { 
    height:100%;
    width:50%;
    position: relative;

    img {
        width:100%;
        height:100%;
        object-fit: cover;
        border-top-left-radius: 2.4rem;
        border-bottom-left-radius: 2.4rem;
    }
}

.login__left-description {
    position:absolute;
    bottom:0;
    padding:35px;
}

.login__left-list {
    list-style: none;
}

.login__left-title {
    line-height: 30px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.login__left-item { 
    display: flex;
    margin-top: 10px;
    img {
        width: 16px;
        height:20px;
        object-fit: contain;
    }

    h3 {
        line-height: 20px;
        font-size: 16px;
        font-weight: 700;
        margin-left: 10px;
        color:#fff;
    }
}

.login__left-item:nth-child(2) h3 {
    color: rgba(255,204,0,1);
}

/* Login Right */
.login__right {
    width:50%;
    padding: 50px;
    color: black;
}

.login__right-title  {
    h3 {
        line-height: 27.599999999999998px;
        font-size: 23px;
        font-weight: 500;
        color: #000;
    }
}

.login__right-description {
    margin-top: 15px;
    p {
        line-height: 21.48px;
        font-size: 18px;
        font-weight: 500;
        color: #646465;
    }
}

.login__right-item {
    width:100%;
    height:48px;
    margin-top: 25px;
    outline: none;
    border:none;
    background-color: #fff;
    padding-left: 1.2rem;
>>>>>>> cb6fedef32addbf65b6b8fbe5091989285a85b34
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
<<<<<<< HEAD
    height: 100%;
    background-color: var(--secondary-color);
}
=======
    height: 96px;
    padding: 24px 10px 24px 10px;
    margin-top: 20px;
    display: flex;
    border-radius: 1.6rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(62,140,247,1);
    color: #fff;
}

.login__right--infors  {

    h5 {
        line-height: 20px;
        font-size: 16px;
        font-weight:500;
    }

    p {
        line-height: 20px;
        font-size: 16px;
        font-weight:500;
    }
}

.login__right--btn {
    height:44px;
    background: none;
    border: 2px solid #fff;
    border-radius: 2.4em;
    padding:8px 16px 9px 16px;
    line-height: 20px;
    font-size: 16px;
    font-weight:500;
    display: flex;
    align-items: center;
    color: #fff;

    :hover {
        cursor: pointer;
        opacity: 0.8;
    }

    span {
        margin-right: 5px;
    }
}

.login__right-list {

    h3 {
        color: #000;
    }
}

@media (max-width:768px) {
    .login {
        flex-wrap: wrap;
        height:100%;
    }

    .login__left {
        width: 100%;
        height:50%;

        img {
            border-bottom-left-radius: 0;
            border-top-right-radius: 2.4rem;
       }
    }

    .login__right {
        background-color:#fff;
        width: 100%;
        height:50%;
        padding:40px;
        border-bottom-left-radius: 2.4rem;
        border-bottom-right-radius: 2.4rem;
    }
}


.circle {
    width:20px;
    height:20px;
    border-radius:50rem;
    background-color:none;
    border:1px solid;
    border-bottom-color: #fff;
    border-left-color:#fff ;
    border-right-color:transparent;
    border-top-color:transparent;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
  

>>>>>>> cb6fedef32addbf65b6b8fbe5091989285a85b34
